.contain-restart-turn {
  width: 460px;
  height: 52px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__letters {
    width: 70px;
    height: 32px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 399px) and (max-width: 834px) {
}

@media screen and (min-width: 835px) {
}
@media (max-width: 398px) {
  .contain-restart-turn {
    width: 350px;

    &__letters {
    }
  }
}
