.Contain-score-game {
  width: 460px;
  height: 72px;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 399px) and (max-width: 834px) {
}

@media screen and (min-width: 835px) {
}
@media (max-width: 398px) {
  .Contain-score-game {
    width: 350px;
  }
}
