.turn-letter {
  width: 20px;
  height: 20px;

  &--x {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: 'X';
      font-family: 'Outfit', sans-serif;
      font-weight: bold; /* Grosor de fuente en negrita */
      margin-bottom: 5px;
      color: #a8bfc9;
      font-size: 30px;
    }
  }
  &--o {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: 'O';
      font-family: 'Outfit', sans-serif;
      font-weight: bold;
      margin-bottom: 5px;
      color: #a8bfc9;
      font-size: 30px;
    }
  }
}
