.contain-game-board {
  width: 460px;
  height: 623px;
}
@media screen and (min-width: 399px) and (max-width: 834px) {
}

@media screen and (min-width: 835px) {
}

@media screen and (max-width: 430px) {
  .contain-game-board {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 398px) {
  .contain-game-board {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
