.containPickPlayers {
  width: 460px;
  height: 205px;
  border-radius: 15px;
  background: var(--Semi-Dark-Navy, #1f3641);
  box-shadow: 0px -8px 0px 0px #10212a inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;

  &__select {
    color: var(--Silver, #a8bfc9);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (Extra Small) */
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__start {
    color: var(--Silver, #a8bfc9);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body */
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.875px;
    opacity: 0.5;
  }
}
