
:root {
  $primary-color: #31c3bd;
  $secondary-color: #65e9e4;
  $tertiary-color: #f2b137;
  $cuartary-color: #ffc860;
  $quintary-color: #1a2a33;
  $sextary-color: #1f3641;
  $septenary-color: #a8bfc9;
  $octary-color: #dbe8ed;
  $primary-text-color: #f2b137;
  $secondary-text-color:#A8BFC9;
 
}
