.option-player {
  width: 198px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #1a2a33;
  display: flex;
  &--active {
    background-color: #a8bfc9;
  }
}

@media screen and (min-width: 399px) and (max-width: 834px) {
  .option-player {
  }
}

@media screen and (min-width: 835px) {
}

@media screen and (max-width: 430px) {
  .option-player {
    width: 180px;
  }
}
@media (max-width: 398px) {
  .option-player {
    width: 160px;
  }
}
