.component-letter {
  &--empty__x {
    opacity: 0;
    transition: 0.5s;
    &:hover {
      opacity: 1;
    }
  }
  &--empty__o {
    opacity: 0;
    transition: 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}
