/* src/common/components/reportGame/src/desktop.scss */

.contain-reportGame {
  /* Ocupa todo el ancho de su padre (.modal) */
  width: 100%;
  /* Asegúrate de que respete el padding del padre */
  box-sizing: border-box;

  /* Centramos contenido internamente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contain-reportGame--letter-report {
  margin-bottom: 10px;
}

.contain-reportGame--letter-report__textReport {
  color: var(--Silver, #a8bfc9);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
}

.contain-reportGame--contain-textRound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.contain-reportGame--contain-textRound__blue,
.contain-reportGame--contain-textRound__yellow {
  font-family: Outfit;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  line-height: 1;
}

.contain-reportGame--contain-textRound__blue {
  color: #31c3bd;
}

.contain-reportGame--contain-textRound__yellow {
  color: #f2b137;
}

.contain-reportGame--contain-button {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
