/* src/common/components/modal/style/desktop.scss */

.modalBackground {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal {
  max-height: 90vh;
  width: 100%;
  overflow-y: auto;

  background-color: #1f3641;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
