/* --------------------------------------------------------
   Global: fondo y contenedor base de TODOS los modales
   -------------------------------------------------------- */
.modalBackground {
  position: fixed;
  inset: 0; /* ocupa toda la pantalla */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f3641;
  padding: 20px;

  max-width: 90vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablet */
