.item-board {
  width: 140px;
  height: 140px;
  cursor: pointer;
  border-radius: 15px;
  background: var(--Semi-Dark-Navy, #1f3641);
  box-shadow: 0px -8px 0px 0px #10212a inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 399px) and (max-width: 834px) {
}

@media screen and (min-width: 835px) {
}
@media (max-width: 398px) {
  .item-board {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
